$bgHoverColor:rgb(209, 209, 209);
@mixin setWidthAndPadding($padding){
    padding:$padding;
    width:calc(100% - $padding * 2);
}
@mixin setFlexCenterColumn($gap:0px){
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:$gap;
}
.home-container {
    display: grid;
    justify-content: center;
    flex-direction: column;
    .main-movies-container {
        max-width: 900px;
        padding:0 10px;
       @include setFlexCenterColumn(10px);
       .single-movie-container:hover {
           box-shadow:0 0 10px red;
       }
        .single-movie-container {
            width: calc(100% - 25px);
            padding:10px;
            border:1px solid silver;
            background-color: white;
            border-radius:5px;
            display: flex;
            justify-content: flex-start;
            gap:10px;
            cursor:inherit;
            font-size:14px;
            transition: box-shadow 1s;
            background-repeat: no-repeat;
            .row-1 {
                flex:1 1 35%;
            }
            .row-2 {
                flex: 1 1 65%;
                display: flex;
                justify-content:flex-start;
                flex-direction: column;
                align-items: flex-start;
            }
            .movie-image-container {
                width:100%;
                max-height:310px;
                max-width:310px;
                overflow:hidden;
                border-radius:5px 5px 0 0;
                border:none;
                img {
                    width:300px;
                    height:300px;
                    object-fit: cover;
                    }
                
            }
            .view-details-container {
                a {
                    text-decoration: none;
                    color:blue;
                }
            }
            .comments-container {
                
                button {
                    cursor:pointer;
                    padding:2px 20px 2px 20px;
                    margin:5px 5px 0 0;
                }
                textarea{
                    width:99%;
                    float:left;
                    height:50px;
                    min-height:50px;
                    border:1px solid silver;
                    font-size:13px;
                    border-radius:5px;
                    max-height:150px;
                    resize:vertical;
                }
            }
    
        }
    }
    
}


.truncate {
    max-height:100px;
    min-height:50px;
    overflow:hidden;
    display:-webkit-box;
    -webkit-line-clamp:3;
    -webkit-box-orient:vertical;

}
.pagination-container {
    display:block;
    width:100%;
    float:left;
    .pagination-buttons-container {
        margin: 20px  0;
        display: flex;
        justify-content:center;
        width:100%;
        button {
            border-radius:50%; 
            cursor:pointer;
            border:none;
            padding:10px;
            margin:5px;
            font-size:15px;
            box-shadow:-3px -3px 10px black;
            .text {
                font-size:12px;
            }
        }
        button:hover {
            color:white;
            background-color:$bgHoverColor;
            box-shadow:3px 3px 10px black;
        }
    }
   
}
@media screen and (max-width:700px) {
    .home-container .main-movies-container .single-movie-container {
        justify-content: center;
        flex-direction: column;
        .row-1, .row-2 {
            flex:1 1 100%;
        }
    }
}
@media screen and (max-width:400px) {
    .home-container .main-movies-container .single-movie-container .movie-image-container {
        max-height: 100%;
        max-width: 100%;
        img {
            width:100%;
        }
    }
}