body {background-color: lightgray;
}
.main-content-container {
    margin-top:50px;
}
.svg {
    width: 15px;
    max-height: 15px;
}
.hidden {
    display: none;
}
.about-container {
    display: flex;
    justify-content: center;
    padding:10px;
    align-items: center;
    flex-direction: column;
}
.footer-container {
    display: flex;
    justify-content: center;
    background: black;
    padding: 10px;
    color: white;
}
.not-found-container {
    width:100%;
    display: flex;
    justify-content: center;
    padding:60px 0;
}