$bgHoverColor:rgb(209, 209, 209);
@mixin setWidthAndPadding($padding){
    padding:$padding;
    width:calc(100% - $padding * 2);
}
@mixin setFlexCenterColumn($gap:0px){
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:$gap;
}
.content-contaienr{
    display: grid;
    justify-content: center;
    width: calc(100% - 20px);
    padding:0 10px;
    flex-direction: column;
    .movie-container {
        @include setWidthAndPadding(10px);
        @include setFlexCenterColumn(5px);
        background-color: white;
        border:1px solid silver;
        border-radius: 5px;
        max-width:1200px;
        cursor:inherit;
        font-size:14px;
        .image-container {
            width:100%;
            max-height:550px;
            overflow:hidden;
            border-radius:5px 5px 0 0;
            border:none;
            display: flex;
            justify-content: flex-start;
            img {
                width:auto;
                height: 100%;
            }

            
        }
    .comments-container {
        .row-2 {
            textarea {
                @include setWidthAndPadding(10px);
                resize:vertical;
                max-height: 100px;
                height: 50px;
                min-height: 40px;
                font-size:14px;
                margin-top: 5px;
            }
        }
        button {
            cursor:pointer;
            padding:2px 20px 2px 20px;
            margin:5px 5px 0 0;
        }

    }
    }
    .movie-suggestion-container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        padding: 10px 0;
        .suggestion-container {
            background-color: black;
            display: flex;
            justify-content: center;
            flex-direction: column;
            max-width: 230px;
            max-height: 395px;
            color: white;
            font-size:11px;
            border-radius: 5px;
            overflow: hidden;
            border: 1px solid black;
            .image {
                max-width: 230px;
                max-height: 345px;
                background: black;
                overflow: hidden;
                img {
                    width: 230px;
                    height: 345px;
                    object-fit: contain;
                  
                }
            }
            .title, .year {
                width:100%;
                padding:0 5px;
                margin:5px 0;
            }
        }
    }
}
@media screen and (max-width:550px){
    .content-contaienr .movie-suggestion-container {
        flex-direction: column;
        justify-content: center;
        display: flex;
        align-items:center;
        
    }
}
@media screen and (max-width:520px){
    .content-contaienr .movie-container .image-container {
            width: 100%;
            height:100%;
            justify-content: center;
            img {
                width:100%;
                height: 100%;
                object-fit:cover;
        }
    }
}